.forms {
background-color: #6699CC;
font: normal 12px verdana;
padding: 3px;

border: 1px solid #6699CC;
}
.myaccount {
background-color: ;
font: normal 12px verdana;
padding: 2px 5px;
border: 1px solid ;

}

a {
color: #6699CC;
}

.main {
font: normal 12px verdana;
padding: 2px;
margin: 2px;

 }
 
 .titlehdr {
 font: normal 22px verdana;
 color: #6699CC;
 border-bottom: 1px solid #6699CC;
 
 
 }
 
.msg {
padding: 5px;
width: 600px;
margin: 2px;
color: #0033FF;
border: 1px solid #0033FF;
background-color: #6699CC;
font: bold 13px  verdana;
} 
 
.error {
font: normal 11px verdana;
color: #0033FF;
border: 1px solid #c00;
padding: 2px;
margin: 5px;
float: left;
background-color: #6699CC;
}
 
 .example {
font: normal 10px verdana;
color: blue;
}
.approved {
font: normal 10px verdana;
color: blue;
}

.loginform {
font: 16px normal verdana;
background-color: #6699CC;
font: normal 12px verdana,verdana;
padding: 3px;
border: 1px solid #6699CC;
}

.loginform #txtbox {
font: bold 16px verdana;
color: #0033FF;
}

table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:8px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}